$font-stack: 'Poppins', sans-serif;
$light-color: #F4F4F4;
$primary-color: #2A6F97;
$secondary-color: #61A5C2;
$text-color: #424242;

#back2top {
    border-radius: 50%;
    position: fixed;
    background: $secondary-color;
    border: none;
    width: 90px;
    height: 90px;
    z-index: 10;
    top: 30px;
    right: 60px;
    overflow: hidden;
    transition: all 0.3s ease-in-out;

    &:hover {
        cursor: pointer;
        transform:scale(1.05,1.05);
        transition: all 0.1s ;
    }

    .fa-bars {
        color: white;
    }
}

.hide {
    right:-100%;
    transform:scale(0,0);
}

.show {
    transform:scale(1,1);
}

#hamburger-menu {
    position:fixed;
    display: block;
    align-items: center;
    list-style: none;
    top: 50px;
    right: 50px;
    
    a {
        position: absolute;
        transform: rotate(40deg);
        font-size: 16px;
        text-decoration: none;
        color: $light-color;
        font-family: $font-stack;
        z-index: 8
    }

    li:nth-child(4) {
         a {
            position: absolute;
            background-color: $primary-color;
            list-style: none;
            width: 490px;
            height: 490px;
            margin-top: -245px;
            margin-right: -245px;
            top: 25px;
            right: 55px;
            border-radius: 50%;
            text-align:initial;
            z-index: 3;

            p {
                text-align: center;
                margin-top: 450px;
            }

            &:hover {
                cursor: pointer;
                width: 492px;
                height: 492px;
                font-size: 17px;
                transition: all 0.1s;
            }
        }
    }
    li:nth-child(3) {

        a {
            position: absolute;
            list-style: none;
            background-color: #387DA2;
            width: 390px;
            height: 390px;
            margin-top: -195px;
            margin-right: -195px;
            top: 25px;
            right: 55px;
            border-radius: 50%;
            z-index: 4;

            p {
                text-align: center;
                margin-top: 350px;
            }

            &:hover {
                cursor: pointer;
                width: 392px;
                height: 392px;
                font-size: 17px;
                transition: all 0.1s;
            }
        }
    }
    li:nth-child(2) {
        a {
            position: absolute;
            background-color: #468AAD;
            list-style: none;
            width: 290px;
            height: 290px;
            margin-top: -145px;
            margin-right: -145px;
            top: 25px;
            right: 55px;
            border-radius: 50%;
            z-index: 5;
 
            p {
                text-align: center;
                margin-top: 250px;
            }

            &:hover {
                cursor: pointer;
                width: 292px;
                height: 292px;
                font-size: 17px;
                transition: all 0.1s;
            }
        }
    }
    li:nth-child(1) {

        a {
            position: absolute;
            background-color:#5398B7;
            list-style: none;
            width: 190px;
            height: 190px;
            margin-top: -95px;
            margin-right: -95px;
            top: 25px;
            right: 55px;
            border-radius: 50%;
            z-index: 6;
    
            p {
                text-align: center;
                margin-top: 150px;
            }

            &:hover {
                cursor: pointer;
                width: 192px;
                height: 192px;
                font-size: 17px;
                transition: all 0.1s;
            }
        }
    }
}

.hamburger-menu-hide {
    opacity: 0;
    li {
        display: none;
    }
    z-index: -1;
    
}

.hamburger-menu-show {
    opacity: 1;
    z-index: 8;
}