$font-stack: 'Poppins', sans-serif;
$light-color: #F4F4F4;
$primary-color: #2A6F97;
$secondary-color: #61A5C2;
$text-color: #424242;

#header-main {
    background: rgb(42,111,151);
    background: linear-gradient(180deg, rgba(42,111,151,1) 0%, rgba(97,165,194,1) 100%);
    color: $light-color;
    height: 100vh;
    
    .nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 10%;
        padding-top: 1%;

        #logo {
            margin: 10px;
            z-index: 10;

            &:hover {
                cursor: pointer;
            }
        }

        li {
            padding: 15px;
            display: inline-block;
            position: relative;
            a {
                font-size: 1.4rem;
                text-decoration: none;
                display: inline-block;
                color: $light-color;
                font-family: $font-stack;
            }
        }
    }

    .nav-2 {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 10%;
        padding-top: 1%;

        #logo {
            margin: 10px;
            z-index: 10;

            &:hover {
                cursor: pointer;
            }
        }

        li {
            padding: 15px;
            display: inline-block;
            position: relative;
            a {
                font-size: 1.4rem;
                text-decoration: none;
                display: inline-block;
                color: $light-color;
                font-family: $font-stack;
            }
        }
    }

    #name {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        padding-top: 12%;

        p {
            font-size: 54px;
            z-index: 2;
        }
    }

    .nav-link {
        &::after {
            content: '';
            display: block;
            width: 0%;
            height: 3px;
            background: $light-color;
            border-radius: 22px;
            transition: width .3s;
        }
        &:hover::after {
            width: 100%;
            transition: width .3s;
        }
    }

    #name-text {
        z-index: 2;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        padding-top: 1%;
        
        p {
            z-index: 2;
            text-align: center;
            font-size: 24px;
        }
    }

    #header-container {
        max-width: 950px;
        padding: 0 30px;
        margin: 0 auto;
        margin-top: 3%;
        overflow: auto;
    
        #button-group {
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            margin: auto;
            margin-bottom: 4%;
            width: 60%;
            margin-top: 40px;
            
            button {
                border: none;
                width: 200px;
                height: 60px;
                box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px;
                border-radius: 44px;
                background-color: $light-color;
                line-height: 1.6;
                z-index: 2;

                p {
                    text-decoration: none;
                    font-family: $font-stack;
                    color: $text-color;
                    font-size: 22px;
                }

                &:hover {
                    box-shadow: rgba(0, 0, 0, 0.25) 0px 5px 15px;
                    cursor: pointer;
                    height: 64px;
                    width: 204px;

                    a {
                        font-size: 23px;
                    }

                    transition: all 0.1s;
                }
            }
        }
    }
}

#header-main-2 {
    background: rgb(42,111,151);
    background: linear-gradient(180deg, rgba(42,111,151,1) 0%, rgba(97,165,194,1) 100%);
    color: $light-color;
    height: 12vh;

    .nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 10%;
        padding-top: 1%;

        #logo {
            margin: 10px;
            z-index: 10;

            &:hover {
                cursor: pointer;
            }
        }

        li {
            padding: 15px;
            display: inline-block;
            position: relative;
            a {
                font-size: 1.4rem;
                text-decoration: none;
                display: inline-block;
                color: $light-color;
                font-family: $font-stack;
            }
        }
    }

    .nav-link {
        &::after {
            content: '';
            display: block;
            width: 0%;
            height: 3px;
            background: $light-color;
            border-radius: 22px;
            transition: width .3s;
        }
        &:hover::after {
            width: 100%;
            transition: width .3s;
        }
    }


}
